*{
    margin: 0px;
    padding: 0px    ;
    /* font-family: "Amazon Ember",Arial,sans-serif; */
    box-sizing:border-box;
}
.background-img{
    height: auto;
    width: 100vw;
    /* float: inline-start; */
}
.bgimg{
    height: 100vh;
    width: 80%;
    background-image: url("bgimg.svg");
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* border: 1px solid green; */
    float: left;
    position: fixed;
}
